@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer components {
    .item {
        @apply p-2 bg-black hover:bg-muted/20 rounded-md transition-colors;
    }

    .list {
        @apply border border-border rounded-md bg-background;
    }
    .dropdown {
        @apply p-2 max-h-96 overflow-y-auto min-w-80;
    }
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}
